<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>附件下载</title>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/pagging.css}" />
</head>
<body>
	<div id="middleAndCenter">
	<form th:action="@{/downloadFile}">
	</br>
		文件详情：
			 [[${fileMsg}]]</br></br>
		<a th:href="@{/noticeMyPage}" class="btn btn-primary btn">返回</a>
		<input type="submit" class="btn btn-primary btn" value="下载 ">
	</form>
	</div>
</body>
</html>